WebContent/wsdl/StudentDao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ePortalPackage" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ePortalPackage" xmlns:intf="http://ePortalPackage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ePortalPackage" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStudentId">
    <complexType>
     <sequence>
      <element name="student_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentIdResponse">
    <complexType>
     <sequence>
      <element name="getStudentIdReturn" type="impl:StudentBean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="StudentBean">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="faculty" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="phone" type="xsd:int"/>
     <element name="programme" nillable="true" type="xsd:string"/>
     <element name="studentId" nillable="true" type="xsd:string"/>
     <element name="studentPassword" nillable="true" type="xsd:string"/>
     <element name="valid" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="saveStudent">
    <complexType>
     <sequence>
      <element name="studentBean" type="impl:StudentBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveStudentResponse">
    <complexType>
     <sequence>
      <element name="saveStudentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="student_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType>
     <sequence>
      <element name="deleteStudentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStudent">
    <complexType>
     <sequence>
      <element name="studentBean" type="impl:StudentBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStudentResponse">
    <complexType>
     <sequence>
      <element name="updateStudentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllStudents">
    <complexType/>
   </element>
   <element name="getAllStudentsResponse">
    <complexType>
     <sequence>
      <element name="getAllStudentsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStudentIdResponse">

      <wsdl:part element="impl:getStudentIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsResponse">

      <wsdl:part element="impl:getAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentRequest">

      <wsdl:part element="impl:updateStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveStudentRequest">

      <wsdl:part element="impl:saveStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveStudentResponse">

      <wsdl:part element="impl:saveStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentResponse">

      <wsdl:part element="impl:updateStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsRequest">

      <wsdl:part element="impl:getAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentIdRequest">

      <wsdl:part element="impl:getStudentId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentDao">

      <wsdl:operation name="getStudentId">

         <wsdl:input message="impl:getStudentIdRequest" name="getStudentIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentIdResponse" name="getStudentIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveStudent">

         <wsdl:input message="impl:saveStudentRequest" name="saveStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveStudentResponse" name="saveStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStudent">

         <wsdl:input message="impl:updateStudentRequest" name="updateStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateStudentResponse" name="updateStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdl:input message="impl:getAllStudentsRequest" name="getAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllStudentsResponse" name="getAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentDaoSoapBinding" type="impl:StudentDao">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStudentId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentDaoService">

      <wsdl:port binding="impl:StudentDaoSoapBinding" name="StudentDao">

         <wsdlsoap:address location="http://localhost:8080/ePortalUOM/services/StudentDao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
